// Main footer container


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container{
    display: flex;
    // flex-wrap: wrap;
    // padding: 40px;
    margin: 60px 0;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }  
  // Responsive adjustment
}

// Legacy club section
.legacy-section {
  flex: 1;
  min-width: 300px;
  margin-right: 40px;
  
  @media (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.legacy-title {
  // font-family: 'Garamond', serif;
  // font-style: italic;
  font-weight: normal;
  font-size: 28px;
  color: #45574A;
  margin-bottom: 20px;
}

.legacy-text {
  font-size: 16px;
  margin-bottom: 20px;
}

// Email signup form
.email-form {
  display: flex;
  margin-bottom: 30px;
  max-width: 400px;
  background-color: #e5e5df;
  border: none;
}

.email-input {
  flex-grow: 1;
  padding: 15px;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 14px;
}

.submit-btn {
  background-color: transparent;
  color: #45574A;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
}

.footer__columns{
  display: flex;
  gap: 20px;
  @media (max-width: 1424px) {
      flex-wrap: wrap;
  }
  .footer-column {
    flex: 1;
    min-width: 180px;
    margin-bottom: 30px;
    .column-title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 20px;
      letter-spacing: 0.5px;
    }
    .footer-links {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 4px;
      .footer-link {
        margin-bottom: 10px;
        
        a {
          text-decoration: none;
          color: inherit;
          font-size: 15px;
          transition: color 0.2s;
          
          &:hover {
            color: #45574A;
          }
        }
      }
    }
  }
  
  
  
}
// Footer columns

.footer__logo__div{
  width: 100%;
  height: 90vh;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}