.carousel{
    background-color: var(--white);
    padding: 2rem 0;
    @media (max-width: 767px) {
        padding: 1rem 0;
    }
    @media (max-width: 480px) {
        padding: 0.5rem 0;
    }
    
    &__content {
        text-align: center;
    }

    &__title {
        font-size: 2rem;
        font-weight: 500;
    }

    &__categories {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__category-title {
        cursor: pointer;
        padding: 0.5rem 1rem;
        
        &.active {
            color: black;
            font-weight: 500;
            text-decoration: underline;
        }
    }

    &__slider {
        position: relative;
        padding: 2rem;
        width: 80%;
        margin: 0 auto;
        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    .view-all-btn {
       width: fit-content;
        display: block;
        margin: 5px auto;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid var(--white);
        text-align: center;
        color: var(--primary-color);
        font-weight: 500;
        font-size: 1.2rem;
        transition: all 0.3s ease;
        @media (max-width: 767px) {
            font-size: 1rem;
        }
        &:hover{
            text-decoration: underline;
        }
        

    }
}

