/* --------------------
   Loading Indicator
-------------------- */
.loading {
    position: fixed;
    inset: 0;
    background-color: var(--bg-color);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &::after {
      content: "";
      width: 40px;
      height: 40px;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-top-color: var(--accent-color);
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
    }
  }
  