// Pagination
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 3rem;
    position: relative;
    
    &__btn {
    min-width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    font-size: 0.9rem;
    transition: all 0.3s;
    
    &:hover:not(:disabled) {
        border: 1px solid black;
      }
    
    &--active {
        // background-color: #333;
        border: 1px solid black;
        color: black;
    }
    
    &--prev, &--next {
        // background-color: #f5f5f5;
        color: black;
    }
    
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
    }
    
    &__dots {
    padding: 0 0.5rem;
    }
}