.swiper-container {
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    // width: 80%;
    overflow: hidden;
  }
  .swiper-slide {
    margin-top: 0 !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 200px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    .product-card{
        .product-card__content{
            opacity: 0;
            transition: opacity 0.3s ease;
            @media (max-width: 1200px) {
                .product-card__title{
                    font-size: 1rem;
                }
            }
            @media (max-width: 1024px) {
                .product-card__title{
                    font-size: 0.8rem;
                }
            }
            @media (max-width: 768px) {
                .product-card__title{
                    font-size: 0.6rem;
                }
            }
            @media (max-width: 480px) {
                .product-card__title{
                    font-size: 0.8rem;
                }
            }
        }

        &:hover {
            .product-card__content {
                opacity: 1;
            }
        }
    }
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 40% !important;
    z-index: 10;

    &::after {
      font-size: 1rem !important;
      color: black;
    }
  }
  .swiper-button-next{
    right: -25px !important;
  }
  .swiper-button-prev{
    left: -25px !important;
  }

.swiper-container:hover {
.swiper-button-next,
.swiper-button-prev {
    opacity: 1;
}
}
.swiper-scrollbar{
    position: relative !important;
    z-index: 10 !important;
    
    .swiper-scrollbar-horizontal{
        position: relative !important;
        z-index: 10 !important;
        
        .swiper-scrollbar-drag{
            background-color: #000 !important;
        }
    }
}